___
# Ciência dos Dados - PROJETO 1

## Alexandre Almeida Edington

## Análise de escolaridade por faixa etária e região no Brasil

___
## Introdução

    Este projeto pretente analisar o nível médio de ensino de brasileiros em diferentes idades, a fim de interpretar um avanço ou regressão na escolaridade ao longo do últimio século. 
    Para aprofundar mais, a pesquisa também será dividia por sexo e por região do Brasil, permitindo que a conclusão seja feita com mais precisão.

___
## Filtros da base de dados

In [15]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [16]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\Alexandre\Desktop\semestre3\Dados\Projeto1

In [17]:
pnad=pd.read_csv('PES2011csv.zip', compression='zip', header=0, sep=',', quotechar='"')

In [18]:
#colunas que serão usadas:
#V8005 - idade
#V0302 - sexo
#V5030 - Estado
#V6007 - ensino

In [19]:
df=pnad[["V8005","V0302","V5030","V6007"]]
df=df.dropna(how='any')
df["IDADE"]=df["V8005"]
df["SEXO"]=df["V0302"]
df["ESTADO"]=df["V5030"]
df["ENSINO"]=df["V6007"]
del df["V8005"]
del df["V0302"]
del df["V5030"]
del df["V6007"]
df=df.reset_index()
del df["index"]
df.head(5)

   IDADE  SEXO  ESTADO  ENSINO
0     49     2    51.0     1.0
1     22     2    23.0     5.0
2     30     4    41.0     5.0
3     37     4    41.0     5.0
4     51     2    41.0     2.0

In [21]:
#Refinando as colunas
for x in range(len(df.IDADE)):
    i=df.IDADE[x]
    if i < 30:
        i = np.nan
    elif i > 99:
        i = np.nan
    elif i > 89:
        i = 90
    elif i > 79:
        i = 80
    elif i > 69:
        i = 70
    elif i > 59:
        i = 60
    elif i > 49:
        i = 50
    elif i > 39:
        i = 40
    elif i > 29:
        i = 30   
    df.IDADE[x]=i

df.SEXO = df.SEXO.astype("category")
df.SEXO.cat.categories=(["Masculino","Feminino"])

norte=[11,12,13,14,15,16,17]
nordeste=[21,22,23,24,25,26,27,28,29]
sudeste=[31,32,33,34,35]
sul=[41,42,43]
centrooeste=[51,52,53]

df=df.dropna(how="any")
df.head(20)

C:\Users\Alexandre\Anaconda3\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Alexandre\Anaconda3\lib\site-packages\pandas\core\indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

    IDADE       SEXO  ESTADO  ENSINO
0    40.0  Masculino    51.0     1.0
2    30.0   Feminino    41.0     5.0
3    30.0   Feminino    41.0     5.0
4    50.0  Masculino    41.0     2.0
5    60.0   Feminino    35.0     1.0
6    80.0  Masculino    29.0     1.0
7    70.0   Feminino    22.0     1.0
8    40.0   Feminino    41.0     4.0
9    30.0  Masculino    41.0     8.0
10   60.0  Masculino    29.0     2.0
11   60.0   Feminino    29.0     2.0
14   60.0  Masculino    31.0     1.0
15   50.0   Feminino    52.0     1.0
16   30.0  Masculino    52.0     5.0
18   50.0  Masculino    29.0     8.0
19   30.0   Feminino    29.0     8.0
20   40.0  Masculino    32.0     5.0
21   50.0  Masculino    52.0     1.0
22   70.0   Feminino    41.0     1.0
23   50.0   Feminino    43.0     6.0

___
## Análise e Resultados

___
## Conclusão

Descreva aqui suas conclusões!